.invoice-form {
  max-width: 95vw;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.invoice-form h1 {
  text-align: center;
  margin-bottom: 20px;
}

.invoice-form form {
  display: flex;
  flex-direction: column;
}

.invoice-form label {
  margin-bottom: 5px;
}

.invoice-form input {
  margin-bottom: 15px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.invoice-form button {
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.invoice-form button:hover {
  background-color: #0056b3;
}

/* form custom css */
.form-one-section {
  display: flex;
  margin: 1% 1% 0% 1%;
  justify-content: space-between;
}
.div-flex-row {
  /* display: flex; */
  /* border: 1px solid; */
  /* margin: 5px; */
}
.input-box-border{
  border: none;
    /* border-bottom: 1px solid #80808061; */
    border-radius: 0px;
}
.flex-osk{
  display: flex;
}
.border-one-solid{
  /* border: 1px solid; */
}

.diplay_none{
  display: none;
}
.textarea {
  width: 100%;
  border: 1px solid #ccc;
  padding: 11px 0px 0px 11px;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  resize:none;
}
button.toggle-button {
  border-radius: 0;
  background-color: gray;
}
.table-coverbox {
  display: flex;
  justify-content: center;
}
button.remove-button {
  background: red;
  margin-top: -10px;
  border-radius: 2px;
  margin-left: 22%;
}
.addbtn {
  display: flex;
  justify-content: right;
  padding-right: 10%;
}
.row {
  display: flex;
  justify-content: normal;
  padding: 0px 7%;
}
button.printbtn {
    padding: 2% 42%;
    font-size: x-large;
    background: green;
}
img.logomaakarni {
  width: 100%;
  animation: maakarni 4s infinite linear;
  
}
.form-one-section-center {
  width: 20%;
 
}
@keyframes maakarni {
  0% {
    filter: drop-shadow(3px 3px 10px red);
  }
  25% {
    filter: drop-shadow(3px 3px 10px green);
  }
  50% {
    filter: drop-shadow(3px 3px 10px yellow);
  }
  75% {
    filter: drop-shadow(3px 3px 10px blue);
  }
  100% {
    filter: drop-shadow(3px 3px 10px rgb(29, 210, 223));
  }
  
}

/* mobile view  */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: large;
}
.form-one-section {
  display: block;
  margin: 1% 1% 0% 1%;
}
thead {
  font-size: small;
}
table{
  overflow-y:scroll;
  height:100px;
  display:block;
  }
  .row {
    display: flex;
    justify-content: center;
    padding: 0px 7%;
    flex-direction: column;
}
}
